{% extends 'base.html.twig' %}

{% block title %}New GaleryUser{% endblock %}

{% block body %}
    <h1>Create new GaleryUser</h1>

    {{ include('galery_user/_form.html.twig') }}

    <a href="{{ path('galery_user_index') }}">back to list</a>
{% endblock %}
