{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container bg-light">
            <h2>Добавить категорию</h2>
            {{ include('category/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
