{% extends 'base.html.twig' %}

{% block title %}New Heart{% endblock %}

{% block body %}
    <h1>Create new Heart</h1>

    {{ include('heart/_form.html.twig') }}

    <a href="{{ path('heart_index') }}">back to list</a>
{% endblock %}
