{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>{{ category }}</h1>

    <div class="row">
        {% include 'feed/feed.html.twig' with {
            feedPosts: posts
        } %}
    </div>
{% endblock %}