{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Редактировать пост</h1>

    <ul>
        <li><div>{{ include('post/_form.html.twig', {'button_label': 'Update'}) }}</div></li>
        <li><a></a></li>
        <li><a>{{ include('post/_delete_form.html.twig') }}</a></li>
    </ul>
{% endblock %}
