{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container bg-light">
            <h2>Редактировать пост</h2>
            {{ include('post/_form.html.twig') }}
            <a>{{ include('post/_delete_form.html.twig') }}</a>
        </div>
    </section>
{% endblock %}
