{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container bg-light">
            <h2>Новый пост</h2>
            {{ include('post/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
