{% extends 'base.html.twig' %}

{% block title %}My page{% endblock %}

{% block body %}
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Мои фото</h1>
            <p class="lead text-muted">@{{ app.user.nickname}}</p>
            <p class="lead text-muted">{{ app.user.description }}</p>
            <p>
                <a href="{{ path('post_new') }}" class="btn btn-primary my-2">Новый пост</a>
                <a href="{{ path('favorite') }}" class="btn btn-secondary my-2">Избранное</a>
            </p>
        </div>
    </section>

    {% include 'post/album.html.twig' with {
        posts: posts,
        edit: false,
    } %}

{% endblock %}
