{% extends 'base.html.twig' %}

{% block title %}Мои подписки{% endblock %}

{% block body %}
    <h1>Подписки</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>nickname</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.description }}</td>

                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
